html, body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	color: #676a6c;
	background-color: #f3f3f4;
}

.container-fluid {
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0px;
}

#side-menu {
	background-color: #2f4050;
	padding: 0px;
}

@media (max-width: 500px) {
	#side-menu {
		display: none;
	}
}



#side-menu h1{
	color: #1f3647;
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
}

#side-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.link > a {
	padding: 12px 20px;
	text-decoration: none;
	color: #9fb1c2;
	font-weight: bold;
	font-size: 13px;
	display: block;
}

.link > a > .glyphicon {
	margin-right: 6px;
}

.link > a:hover {
	background-color: #293846;
	display: block;
	color: #fff;
}

.active {
	background-color: #293846;
}

.settings-btn {
	background-color: #1ab394;
}

.settings-btn > a {
	color: #fff;
}

.settings-btn > a:hover {
	background-color: #1ab394;
}

#side-menu .collapseable li {
	padding-left: 20px;
	padding-top: 5px;
}

#side-menu .collapseable a {
	color: #9fb1c2;
	font-size: 12px;
	padding-left:20px;
	padding-right: 20px;
	text-decoration: none;
	display: block
}

#side-menu .collapseable a:hover {
	color: #fff;
}

#side-menu .collapseable {
	border-left: 4px solid #1ab394;
	background-color: #293846;
}

#side-menu .link > ul > li {
	padding-bottom: 10px;
}

#nav-header {
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
}

#nav-header input[type="text"] {
	padding-top: 17px;
	vertical-align: center;
	border: none;
	width: 300px;
	outline: none;
}

#nav-header ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #676a6c;
}

#nav-header ul .glyphicon {
	color: #676a6c;
}

#nav-header ul .label {
	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
}

.label-message {
	background-color: #1ab394;
}

.logout {
	color: #676a6c;
}

.logout:hover {
	text-decoration: none;
	color: #676a6c;
}

#nav-header ul li {
	float: left;
	margin-left: 15px;
	height: 100%;
	display: block;
}

#nav-header ul a {
	height: 100%;
	display: block;
	padding: 20px 0px 10px 18px;
}

#nav-header ul a:hover {
	background-color: #f3f3f4;
}

#nav-header #welcome {
	padding-top: 17px;
}

#right-col{
	height: 100%;
}

#content {
	margin: 20px 0px 50px 0px;
	background-color: #fff;
	border-top: 4px #e7eaec solid;
}

#admin-footer {
	position:absolute;
    bottom:0;
    width:100%;
	background-color: #fff;
	padding: 10px;
	font-size: 12px;
	color: #676a6c;
}

/** Setting Heights */
.display-table {
	display:table;
	height: 100%;
}

.display-table-row {
	display:table-row;
	height: 100%;
}

.display-table-cell {
	display:table-cell;
	height: 100%;
    float:none;
}

.valign-top {
	vertical-align: top;
}

.valign-middle {
	vertical-align: middle;
}

#content header {
	border-bottom: 1px #f3f3f4 solid;
	padding: 10px 0px;
}

.btn-primary {
	background-color: #1ab394;
	border: 1px solid #1ab394;
}

.btn-primary:hover {
	background-color: #1cc394;
	border: 1px solid #1ab394;
}

.title {
	font-size: 14px;
	font-weight: bold;
}

.btn-default {
	color: #676a6c;
	border: 1px #e7eaec solid;
}

.btn-default:hover {
	background-color: #fff;
	color: #676a6c;
	border: 1px #eee solid;
}

.go {
	background-color: #1ab394;
	color: #fff;
	height: 31px;
	border: 1px #f3f3f4 solid;
}

.search-fields {
	height: 31px;
	border: 1px #e7eaec solid;
}

.search-row {
	margin-bottom: 30px;
}

.article-row {
	padding: 5px;
}

.article-row .control-btns {
	padding-top: 5px;
}

.article-row .article-status {
	padding-top: 10px;
}

.article-row:hover {
	background-color: #f3f3f4; 
}

.article-row p {
	font-size: 16px;
	margin-bottom: 0px;
	font-weight: 400;
}

@media (min-width: 767px) {
	.article-actions {
		float: right;
	}
}


.label-success {
	background-color: #1ab394;
}

.label-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.label-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.label-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.content-inner {
	padding: 20px;
}

.pagination a {
	color: #1ab394 !important;
}

@media (max-width: 991px) {
	.article-title {
		padding-left: 25px;
	}
}

.form-wrapper {
	background-color: #eee;
	padding: 20px;
}

.note-editable {
	background-color: #fff;
}

.note-editable {
	font-size: 20px;
	font-weight: normal;
}

.comments-row {
	border-bottom:1px solid #eee;
	margin-bottom: 15px;
}

.comments-row:last-child {
	border: none;
}

.commenter-period {
	font-size: 12px;
}

.comments-well {
	margin-top: 10px;
}

#dashboard-con {
	padding-bottom: 100px;
}

.admin-content-con {
	margin-top: 20px;
	background-color: #fff;
	border-top: 4px #e7eaec solid;
	padding: 15px;
}

.dashbord-left-cell {
	padding-right: 5px;
}

.dashbord-right-cell {
	padding-left: 5px;
}

.box {
	border:1px red dotted;
}

.admin-content-con h5 {
	margin: 0px;
	padding-top: 3px;
}

.admin-content-con header {
	margin-bottom: 20px;
	border-bottom: 1px #eee solid;
	padding-bottom: 10px;
}

.text-link {
	color: #676a6c;
}

.text-link:hover {
	color: #676a6c;
}

.commenter-name-dash {
	font-weight: bold;
	font-size: 13px;
}

.comment-head-dash {
	margin-bottom: 6px;
}

.comment-dash {
	margin-bottom: 5px;
}

.days-dash {
	font-size: 12px;
}

.comment-date-dash {
	color: #999;
}

.settings-row {
	border-bottom: 1px #eee solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.settings-row h3 {
	margin-bottom: 3px;
	font-size: 16px;
}

.settings-row p {
	color: #999;
}

.small-input {
	width: 80px;
}

#login-con {
	width: 400px;
}

#login-con header h4 {
	margin-bottom: 2px;
}

#login-con header {
	margin-bottom: 30px;
}

#login-con footer {
	margin-top: 30px;
	text-align: center;
}

.navbar-default .navbar-toggle {
	border-color: #1ab394;
	background-color: #1ab394;
}

.navbar-toggle .icon-bar {
	border:1px white solid;
}

.navbar-default .navbar-toggle:hover {
	background-color: #1ab394;
}

.navbar-default .navbar-toggle:focus {
    background-color: #1ab394;
}