.container-fluid {
	padding: 0px;
}

#side-menu {
	background-color: #2f4050;
	padding: 0px;
}

#side-menu h1{
	color: #1f3647;
	text-align: center;
	margin-bottom: 30px;
}

#side-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.link > a{
	padding: 12px 20px;
	text-decoration: none;
	color: #9fb1c2;
	display: block;
}

.link > a > span {
	margin-right: 6px;
}

.link > a:hover {
	background-color: #293846;
	display: block;
	color: #fff;
}

#side-menu .collapseable li {
	padding-left: 20px;
	padding-top: 5px;
}

#side-menu .collapseable a {
	color: #9fb1c2;
	padding-left:20px;
	text-decoration: none;
	display: block
}

#side-menu .collapseable a:hover {
	color: #fff;
}

#side-menu .link > ul > li {
	padding-bottom: 10px;
}