html, body {
	height: 100%;
}

.container {
	max-width: 400px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.container {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.form-signin {
	display: table-cell;
	vertical-align: middle;
}








